#load_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: grey;
}

#load_screen #last {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    color: #222;
    bborder: 1px solid #999;
    ppadding: 5px;
    border-radius: 4px;
}

#load_screen #bar {
    display: block;
}

#load_screen .thing {
    display: inline-block;
    color: black;
    font-size: 25px;
}

#main_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: gray;
    background: url(img/ai_generated_hotline_miami_rooster_pixelated.jpg);
    background-attachment: fixed;
}

#main_menu #logo {
    margin: 15px;
    font-family: Nabla;
    font-size: 90px;
    color: black;
    ttext-shadow: 0px 0px 5px lightgray;
}

#main_menu .button {
    ttext-shadow: -3px 3px 0px darkgreen;
    font-family: 'Silkscreen';
    margin: 3px;
    padding: 3px 10px;
	user-select: none;
    cursor: pointer;
    font-size: 40px;
    color: orange;
    bborder: 2px solid orange;
}

#main_menu .button:hover {
   color: green;
}