#main_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: gray;
    background: url(img/ai_generated_hotline_miami_rooster_pixelated.jpg);
    background-attachment: fixed;
}

#main_menu #logo {
    margin: 15px;
    font-family: Nabla;
    font-size: 90px;
    color: black;
    ttext-shadow: 0px 0px 5px lightgray;
}

#main_menu .button {
    ttext-shadow: -3px 3px 0px darkgreen;
    font-family: 'Silkscreen';
    margin: 3px;
    padding: 3px 10px;
	user-select: none;
    cursor: pointer;
    font-size: 40px;
    color: orange;
    border: 2px solid orange;
}

#main_menu .button:hover {
   color: green;
}